<div class="ui-g ui-fluid center">
    <div class="ui-g-12 ui-md-6">
        <div class="ui-g-12">

            <form method="post" [action]="formAction" #registerForm>
                <input type="hidden" name="leagueId" [value]="regReqModel?.leagueId">
                <input type="hidden" name="player1Id" [value]="regReqModel?.userId">
                <input type="hidden" name="player2Id" [value]="regReqModel?.player2Id">
                <input type="hidden" name="facilityId" [value]="regReqModel?.facilityId">
                <div class="ui-g">
                    <div class="ui-g-12">
                        <div class="heading">Register League {{regFormData?.leagueInfo?.leagueName}} of season </div>
                        <div class="text-normal">
                            <p>Registration fee {{regFormData?.leagueInfo?.leagueCost | currency }}</p>
                        </div>
                    </div>
                </div>

                <div class="ui-g">
                    <div class="ui-g-12">
                        <p-messages [(value)]="msgs"></p-messages>
                    </div>
                </div>

                <div class="ui-g">
                    <div class="ui-g-12"><span class="field-label">Myname (Player1) </span></div>
                    <div class="ui-g-8">
                        <input type="text" pInputText [value]="regFormData.player1Name" readonly size="30">
                    </div>
                </div>

                <div class="ui-g" *ngIf="canShowPlayer2">
                    <div class="ui-g-12"><span class="field-label">Player2 Name </span></div>
                    <div class="ui-g-8">
                        <p-autoComplete [suggestions]="player2Suggesitions" (completeMethod)="filterPlayer2Suggestions($event)"
                            (onDropdownClick)="handlePlayer2Dropdown($event)" (onSelect)="handleSelect($event, 'PLAYER2')"
                            [minLength]="1" [dropdown]="true" field="value" dataKey="key" [forceSelection]="true"
                            [size]="30"></p-autoComplete>
                    </div>
                </div>

                <div class="ui-g" *ngIf="canShowPlayer2">
                    <div class="ui-g-12" *ngIf="player2Msg">
                        <div class="ui-g-8">
                            <div class="error"><span class="arrorwup pi pi-fw pi-caret-up"></span>{{player2Msg}}</div>
                        </div>
                    </div>
                </div>

                <div class="ui-g" *ngIf="canShowFields">
                    <div class="ui-g-12">
                        <span class="field-label">State</span>
                    </div>
                    <div class="ui-g-8">
                        <p-autoComplete [suggestions]="stateSuggesitions" (completeMethod)="filterStateSuggestions($event)"
                            (onDropdownClick)="handleStateDropdown($event)" (onSelect)="handleSelect($event, 'STATE')"
                            [minLength]="1" [dropdown]="true" [forceSelection]="true" [size]="30"></p-autoComplete>
                    </div>
                </div>

                <div class="ui-g" *ngIf="canShowFields">
                    <div class="ui-g-12" *ngIf="stateMsg">
                        <div class="ui-g-8">
                            <div class="error"><span class="arrorwup pi pi-fw pi-caret-up"></span>{{stateMsg}}</div>
                        </div>
                    </div>
                </div>

                <div class="ui-g" *ngIf="canShowFields">
                    <div class="ui-g-12">
                        <span class="field-label">Facilities</span>
                    </div>
                    <div class="ui-g-8">
                        <p-autoComplete [suggestions]="facilitySuggesition" (completeMethod)="filterFacilityeSuggestions($event)"
                            (onDropdownClick)="handleFacilityDropdown($event)" (onSelect)="handleSelect($event, 'FACILITY')"
                            [minLength]="1" [dropdown]="true" field="facilityName" dataKey="id" [forceSelection]="true"
                            [size]="30"></p-autoComplete>
                    </div>
                </div>

                <div class="ui-g" *ngIf="canShowFields">
                    <div class="ui-g-12" *ngIf="facilityMsg">
                        <div class="ui-g-8">
                            <div class="error"><span class="arrorwup pi pi-fw pi-caret-up"></span>{{facilityMsg}}</div>
                        </div>
                    </div>
                </div>

                <div class="ui-g">
                    <div class="ui-g-4">
                        <button pButton type="button" label="Invite Player" class="league-btn" (click)="showInviteDialog()"
                            [disabled]="disableButtons"></button>
                    </div>
                    <div class="ui-g-4">
                        <button pButton type="button" label="Pay PayPal" class="league-btn" (click)="submitForm()"
                            [disabled]="disableButtons"></button>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>

<!-- Email Invitation Dialogue -->
<p-dialog [(visible)]="canShowPlayerInviteDig" [closable]="true" header="Send Invite Via Email" [modal]="true"
    [responsive]="true" positionTop="50">
    <div class="ui-g">
        <div class="ui-g-12">
            <p>Enter player 2 email address, email will be sent to given receipient,</p>
            <p>you can continu once the player register</p>
        </div>
    </div>
    <div class="ui-g">
        <div class="ui-g-12">
            <div class="ui-g-8">
                <input type="text" pInputText size="30" [(ngModel)]="regReqModel.player2Email">
            </div>
            <div class="ui-g-4">
                <span><button pButton type="button" class="league-btn-sm" label="Send Email" (click)="sendEmailInvite()"></button></span>
            </div>
        </div>
    </div>
    <div class="ui-g">
        <div class="ui-g-12" *ngIf="emailMsg">
            <div class="ui-g-8">
                <div class="error"><span class="arrorwup pi pi-fw pi-caret-up"></span>{{emailMsg}}</div>
            </div>
        </div>
    </div>
</p-dialog>